 /* Extra small devices  */
 @media (max-width: 575.98px) {

    /* Header Part Start */
    .navbar-toggler i {
       color: #ffff;
    }

    .navbar-nav {
       background: #FF4655;
       border-radius: 15px;
       align-items: center;
    }

    .socialPart {
       padding: 10px;
       background: #FF4655;
       border-radius: 15px;
       text-align: center;
    }

    /* Header Part End */


    /* Banner Part Start */
    #bannerPart {
       padding-top: 55px;
       padding-bottom: 50px;
    }

    .textBnr h4 {
       padding-top: 20px;
       font-size: 44px;
       line-height: 50px;
    }

    .textBnr h4::after {
       bottom: 4px;
       right: 62px;
       width: 67px;
    }

    .textBnr p {
       width: 100%;
       text-align: justify;
    }

    .socialIcon {
       padding-top: 40px;
    }


    /* Banner Part End */


    /* About Part Start */
    .Headingtext h3 {
       font-size: 22px;
       line-height: 36px;
    }

    .Headingtext h3::after {
       width: 67px;
    }

    .textTwo {
       padding-top: 0px;
    }

    .textTwo h5 {
       font-size: 13px;
    }

    .textBtn {
       padding-bottom: 30px;
    }

    .row {
       position: relative;
       gap: 20px;
    }

    /* About Part End */

    /* Gaming Part-1 Css Start */
    .rightheading h3 {
       padding-top: 30px;
       font-size: 28px;
    }

    .rightheading h3::after {
       right: 90px;
       bottom: 91px;
       width: 95px;
    }

    .slider-arrows {
       right: 7px;
       bottom: 48px;
    }

    #GamingPart {
       height: 936px;
    }

    /* Gaming Part-1 Css End */

    /* Live part Start  */
    #LivePart {
       padding-top: 70px;
    }

    .text h3 {
       font-size: 44px;
    }

    .text h3::after {
       bottom: 81px;
       width: 95px;
       right: 115px;
    }

    /* Previous Match Responsive */
    .previous-row {
       margin-bottom: 40px;
       text-align: center;
    }

    .previousmatch,
    .rightTeam {
       padding-left: 0;
       text-align: center;
    }

    .bg-img,
    .bg-img-1 {
       width: 100%;
       height: auto;
    }

    .top-img {
       width: 70px;
       height: 70px;
       left: 24%;
    }

    .top-img-2 {
       width: 70px;
       height: 70px;
       left: 75%;
    }

    .image h4 {
       left: 45%;
       top: 50%;
       font-size: 18px;
    }

    .image-1 h4 {
       left: 25%;
       top: 50%;
       font-size: 18px;
    }

    .time h3 {
       padding-left: 15px;
    }

    /* Live part End  */

    /* Top Games Part Css Start */
    .headingTxt h3 {
       font-size: 32px;
       padding-left: 9px;
    }

    .headingTxt h3::after {
       right: 82px;
       bottom: 57px;
    }

    /* Games Catalog Part Css Start */
    .favouriteHeading h3 {
       font-size: 29px;
    }

    .favouriteHeading p {
       width: 300px;
       padding-top: 10px;
       font-size: 13px;
    }

    .Browsebtn {
       padding-top: 60px;
    }

    .slideImg {
       padding-left: 0px;
       padding-top: 27px;
    }

    /* Games Catalog Part Css End */


    /* ACCESORIES Provide Part Css Start */
    .row>* {
       padding-left: calc(var(--bs-gutter-x) * 1.2);
    }

    #ACCESORIES-Provide {
       height: 2300px;
    }

    .HeadingText {
       padding-top: 40px;
       padding-bottom: 38px;
    }

    .HeadingText h3 {
       font-size: 30px;
    }

    .HeadingText h3::after {
       bottom: 13px;
       width: 84px;
       right: 210px;
    }

    .row {
       gap: 50px;
    }

    /* ACCESORIES Provide Part Css End */



    /* Meet Our Team Start */
    .Heading-txt h3 {
       font-size: 29px;
       padding-top: 0px;
    }

    .Heading-txt h3::after {
       bottom: 11px;
       left: 227px;
    }

    .overly p {
       width: 363px;
       height: 65px;
       font-size: 10px;
    }

    .knowMorebtn {
       padding-top: 18px;
    }

    .social-Icon {
       padding-left: 195px;
    }

    /* Meet Our Team End */

    /* question & ansawere part Start  */
    .txtHeading h3 {
       font-size: 22px;
       width: 352px;
    }

    .txtHeading h3::after {
       bottom: -25px;
       width: 70px;
       left: 227px;
    }

    .question h4 {
       line-height: 30px;
    }

    #askedQuestion::after {
       left: 11px;
       right: 11px;
       top: 1277px;
    }

    #askedQuestion::before {
       content: none !important;
       display: none !important;
    }

    /* question & ansawere part Start  */
    /* Hancok part Start  */
    #hancok-section {
       padding-top: 705px;
    }

    .subText-heading h3 {
       font-size: 15px;
       text-align: center;
    }

    .subscribe-btn {
       margin-left: 207px;
       padding: 0px 25px;
       height: 33%;
    }

    .form-control {
       width: 275px;
       height: 90%;
    }

    .subscribe-section {
       padding: 16px 0;
       margin-bottom: 50px;
    }

    /* Hancok part Start  */
 }
















 /* Small devices  */
 @media (min-width: 576px) and (max-width: 767.98px) {}

 /* Medium devices  */
 @media (min-width: 768px) and (max-width: 991.98px) {}

 /* Large devices */
 @media (min-width: 992px) and (max-width: 1199.98px) {}

 /* Extra large devices  */
 @media (min-width: 1200px) {}